// Colors
$white: #ffffff;
$gray: #2E2E2E;
$purple: #93A5FF;
$light-purple: #F7F8FF;
$dark-purple: #424D83;
$darkest-purple: #384170; 
$yellow: #FAD56B;

// Font
$font-s: 1.2rem;        // 18px
$font-m: 1.33rem;       // 20px
$font-l: 1.53rem;       // 23px
$font-xl: 1.86rem;      // 28px
$font-xxl: 2.33rem;     // 35px
$font-cost: 2.66rem;    // 40px
$font-title: 3.26rem;   // 49px

// Animation
$carouselSpeed: 40s;