.about {
  padding: 6.66rem 0;

  &__title {
    @include title
  }

  &__subtitle {
    @include subtitle
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // Items

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    width: 40%;

    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &__icon {
    margin-right: 2rem;
    margin-bottom: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: 1.6rem;

    color: $gray;
    font-size: $font-l;
    font-weight: 700;

    text-transform: uppercase;
  }

  &__desc {
    color: rgba($color: $gray, $alpha: 0.8);
    font-size: $font-l;
    font-weight: 400;

    line-height: 1.5;
  }

  &__image {
    width: 50%;
    height: 50%;
  }

  &__image img {
    width: 100%;
    height: 100%;
  }
}

// Media
@include laptop {
  .about__name {
    font-size: $font-m;
  }

  .about__desc {
    font-size: $font-m;
  }
}

@include l-tablet {
  .about {
    padding: 3.33rem 0;
  }

  .about__wrapper {
    flex-direction: column;
  }
  
  .about__list {
    width: 100%;
    margin-bottom: 4rem;
  }

  .about__image {
    width: 90%;
  }
}

@include sm-mobile {
  .about__item {
    flex-direction: column;
  }
  
  .about__icon {
    margin-right: auto;
    margin-bottom: 2rem;
  }
  
  .about__image {
    width: 100%;
  }
}