.btn {
  padding: 1rem 1.2rem;

  color: $white;
  font-family: inherit;
  font-size: $font-s;
  font-weight: 600;

  text-align: center;
  text-transform: uppercase;
  white-space: pre;

  border-radius: 5px;
  background-color: $purple;

  transition: all 0.2s ease;

  &:hover {
    color: $purple;
    background-color: $light-purple;
  }

  &--cta {
    margin-left: 1.86rem;

    color: $purple;
    font-size: $font-m;
    font-weight: 700;

    background-color: $white;

    white-space: normal;
    text-transform: none;

    &:hover {
      color: $white;
      background-color: $purple;

      .icon__user {
        fill: $white;
      }
    }

    span {
      margin-right: 1.2rem;
    }
  }

  &--more {
    color: $purple;
    font-size: $font-m;
    font-weight: 700;
    
    background-color: $white;
    text-transform: uppercase;

    white-space: normal;

    &:hover {
      color: $white;
      background-color: $purple;

      .icon__more {
        stroke: $white;
      }
    }

    &--first:hover {
      background-color: $dark-purple;
    }

    span {
      margin-right: 1.2rem;
    }
  }

  &--cust {
    position: relative;
    z-index: 0;

    color: $purple;
    font-size: $font-m;
    font-weight: 700;
    
    background-color: $light-purple;
    text-transform: uppercase;

    white-space: normal;

    &:hover {
      color: $white;
      background-color: $purple;

      .icon__more {
        stroke: $white;
      }
    }

    span {
      margin-right: 1.2rem;
    }
  }

}

// Media 
@include laptop {
  .btn {
    &--cta {
      margin-left: 1rem;
    }
  }

  .btn--check {
    width: 100%;
  }
}

@include l-tablet {
  .btn {
    padding: 1.5rem 1.2rem;
    width: 100%;
  }

  .btn--cta {
    padding: 1rem 1.2rem;
    margin-left: 0;
  }
}

@include mobile {
  .btn--cust span {
    margin-right: 0;
  }

  .icon__more--cust {
    display: none;
  }
}
